* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* TOP BAR */
.topBar {
  background: #f8f9fa;
  padding: 16px 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 186px;
  margin-left: 186px;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
}
.leftSideBar ul {
  display: flex;
  gap: 5px;
  justify-content: start;
}
.leftSideBar ul li a i {
  font-size: 30px;
  color: black;
}
.leftSideBar {
  padding: 0 15px;
  width: 50%;
}

.rightSideBar {
  padding: 0 15px;

  width: 50%;
}
.rightSideBar ul {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.rightSideBar ul li a {
  color: black;
}
.rightSideBar ul li a i {
  color: orange;
}

/* BOTTOM BAR */
.bottomBar {
  background: #fff;

  padding: 24px 0;
}
.bottomBar .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 12%;
}
.logo a {
  font-size: 40px;
  color: black;
}
.logo a span {
  font-size: 40px;
  color: #f16821;
}
.navBar {
  padding-left: 40px;
  width: 88%;
}
.navList {
  justify-content: end;
  display: flex;
  gap: 15px;
}
.navItem {
  padding: 5px 20px;
}
.navItem a {
  color: black;
  font-size: 16px;
}

.navItem .active {
  color: #f16821;
}

/* HOME SECTION */
.home {
  height: 600px;
  background-image: url(../images/hero_2.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.infoHome {
  height: 600px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoHome h1 {
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  font-weight: 900;
}
.infoHome p {
  font-size: 20px;
  color: white;
  width: 55%;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 3rem;
}

.shop {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #fff;
  border-color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  padding: 1rem 3rem;
  transition: 0.3s all ease;
}
.shop:hover {
  background: #fff;
  color: #000;
}

.club {
  margin-left: 4px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  border-color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  padding: 1rem 3rem;
  transition: 0.3s all ease;
}
.club:hover {
  background: transparent;
  color: #fff;
}
