* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.topBar {
  background: #f8f9fa;
  padding: 16px 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 186px;
  margin-left: 186px;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
}
.leftSideBar ul {
  display: flex;
  gap: 5px;
  justify-content: start;
}
.leftSideBar ul li a i {
  font-size: 30px;
  color: black;
}
.leftSideBar {
  padding: 0 15px;
  width: 50%;
}

.rightSideBar {
  padding: 0 15px;

  width: 50%;
}
.rightSideBar ul {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.rightSideBar ul li a {
  color: black;
}
.rightSideBar ul li a i {
  color: orange;
}
